Flask==3.1.0
Werkzeug==3.1.1
Jinja2==3.1.2
itsdangerous==2.2.0
blinker==1.6.3
click==8.1.7

# Database MongoDB
pymongo==4.6.1
dnspython==2.6.1

# Image
Pillow==10.0.1

# Data Processing
pandas==2.0.3
numpy==1.24.4
python-dateutil==2.9.0.post0
pytz==2023.3
tzdata==2023.3

# Grafik
matplotlib==3.7.2
cycler==0.11.0
kiwisolver==1.4.4
contourpy==1.2.0
pyparsing==3.1.1
fonttools==4.47.2
packaging==23.2

# Excel
openpyxl==3.1.2
et_xmlfile==1.1.0

# PDF
reportlab==4.1.0

# Server
gunicorn==21.2.0
