Flask==3.1.0
Werkzeug==3.1.1
Jinja2==3.1.2
itsdangerous==2.2.0
click==8.1.7
blinker==1.6.3

pandas==2.3.3
numpy==2.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

matplotlib==3.8.2
cycler==0.12.1
kiwisolver==1.4.5
contourpy==1.2.0
pyparsing==3.1.2
fonttools==4.43.1

Pillow==9.5.0

openpyxl==3.1.5
et_xmlfile==2.0.0

gunicorn==23.0.0

pymongo==4.6.1
dnspython==2.6.1
